@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2family=Gothic+A1:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-weight: bold;
}

body {
    /* 전체 배경 */
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 218, 218);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.chat_window { /*큰 창*/
    position: absolute;
    width: 100%;
    max-width: 450px;
    height: 750px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 10px 0 7px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

/*
.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}

.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.top_menu .buttons .button.close_button {
    background-color: #f5886e;
}

.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}
*/

.top_menu .title {
    text-align: center;
    color: #3b8c87 ;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 600px;
    overflow: scroll;
}
.homeMain {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 650px;
    
}
.communityMain {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 650px;
    
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    columns: auto;
    flex-direction: column;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: -10px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
     background-image : url("../image/campme2.png");
    float: left;
}

/* 캠미가 보내는 메시지 창 */
.messages .message.left .text_wrapper {
    display: inline-block;
    position : relative;
    background-color: #B2D7C1;
    margin-left: 30px;
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

/*캠미가 보내는 메시지 창 - 말풍선모양
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color:#b2d7c1;
}*/

/* 캠핑 장비 버튼 */
.selectequipment:hover {
    color: #659177;
    background-color: rgb(225, 225, 225);
}

button.selectequipment{
    position: relative;
    background-color: #e8f4e5;
    border-width: medium;
    border-color:rgb(255, 255, 255) ;
    border-style: solid;
    padding: 3px 3px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-right: 6px;
    margin-bottom: 6px;

}

.region:hover {
    color: #659177;
    background-color: rgb(225, 225, 225);
}

/* 지역 기반 버튼 */
button.region{                             
    position: relative;
    background-color: #f8f8f8;
    border-width: medium;
    border-color:rgb(255, 255, 255) ;
    border-style: solid;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-bottom: 6px;
}

.theme:hover {
    color: #659177;
    background-color: rgb(225, 225, 225);
}

/*테마 기반 버튼*/
button.theme{
    position: relative;
    background-color: #f8f8f8;
    border-width: medium;
    border-color:rgb(255, 255, 255) ;
    border-style: solid;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-bottom: 6px;
}

.equipment:hover {
    color: #659177;
    background-color: rgb(225, 225, 225);
}

/* 캠핑 장비 버튼 */
button.equipment{
    position: relative;
    background-color: #f8f8f8;
    border-width: medium;
    border-color:rgb(255, 255, 255) ;
    border-style: solid;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-bottom: 6px;
}

/* 체크박스 */
.boxes{
    position: relative;
}

input[type=checkbox] {
    display: none;
}

input[type="checkbox"] + label{
    cursor: pointer;
    padding-left:25px;
    font-size: 12px;
    font-weight: 600;
}

input[type=checkbox] + label:before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left:0;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}

input[type=checkbox]:checked + label:before{
    content: "✓";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 10px; 
    font-weight:600;
    color: #f8f8f8; 
    background:#2e7554;
    text-align: center;   
}

/* 선택 완료 버튼*/
.check:hover{
    color: #659177;
    background-color: rgb(225, 225, 225);
}

button.check{
    position: relative;
    background-color: #f8f8f8;
    border-width: medium;
    border-color:rgb(255, 255, 255) ;
    border-style: solid;
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.messages .message.left .text_wrapper::after  {
    border-top:15px solid #B2D7C1;
    border-left: 15px solid transparent;        /* 삼각형 크기? */
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    position:absolute;
    top:10px;
    left:-15px;
    right: 100%;
    /* border-right-color:#b2d7c1;*/
}


/* 캠미가 보내는 메시지 창 - 텍스트 */
.messages .message.left .text {
    color: black;
    text-align: left;
}

/* 사용자 프로필 사진
.messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
}
*/

/* 사용자가 작성한 메시지 창*/
.messages .message.right .text_wrapper {
    display: inline-block;
    position : relative;
    background-color:rgb(255, 255, 255);
    border: 3px solid;
    border-color:#b2d7c1;
    margin-right: 20px;
    margin: 15px;
    width: auto;
    height: auto;
    float: right;
    border-radius: 10px;
}

/*사용자가 작성한 메시지 창 - 말풍선 모양*/
.messages .message.right .text_wrapper::after {
    border-top:15px solid #B2D7C1;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    position:absolute;
    transform: scaleX(-1);
    top:10px;
    left: 100%;
    right: 100px;
    /* border-right-color:#b2d7c1;
    border-left-color: #B2D7C1;*/
}

/*사용자가 작성한 메시지 창 - 텍스트 */
.messages .message.right .text {
    color: black;
    text-align: right;
}

.messages .message.appeared {
    opacity: 1;
}

/* 프로필 사진 */
.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

/* 메시지 창 글자수에 따른 길이 제어하는 부분*/
.messages .message .text_wrapper {
    display: inline-block;
    padding: 15px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}


.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 12px;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Gothic A1', sans-serif;
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 80px);
    position: relative;
    padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.bottom_wrapper .send_message {
    width: 70px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #3b8c87;
    color: #3b8c87;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

/*전송 아이콘 마우스 올릴 시*/
.bottom_wrapper .send_message:hover {
    color: #ffffff;
    background-color: #3b8c87;
}

/* 전송 아이콘 기본*/
.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 600px;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}

/*
html,body {width:100%;  }
body,div,ul,li{margin:0; padding:0;}
ul,li {list-style:none;}
*/

/*탭 css 부분 main.css*/
.tab{float:center; height:20px;}
.tabnav{font-size:0; width:600px;}
.tabnav li{display: inline-flex;  height:46px; text-align:center; border-right:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:#3b8c87;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ position:relative; display:block; background: #ffffff; color: #000; padding:0 45px; line-height:46px; text-decoration:none; font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#3b8c87; color:#ffffff; }
.tabcontent{padding: 20px; height:244px; border:1px solid #ddd; border-top:none;}
