<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camster Home</title>
    <script src="https://kit.fontawesome.com/ff85a05e17.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css"  rel="stylesheet">
    <link href="../static/css/main.css"  rel="stylesheet">

    <script>
        greet();
        onClickAsEnter();
    </script>
</head>

<body>
<div class="chat_window">
    <div class="top_menu">
        <div class="title">CAMPSTER</div>
    </div>
    <img src="../static/images/communityPage.png" width="100%"; height="100% - 70px">
    <!--메시지 입력-->
    <ul class="communityMain"></ul>
    <div class="bottom_wrapper clearfix">
    <!--
        <div class="message_input_wrapper">
            <input class="message_input"
                   onkeyup="return onClickAsEnter(event)"
                   placeholder="내용을 입력하세요."/>
        </div>

        <div class="send_message"
             id="send_message"
             onclick="onSendButtonClicked()">

            <div class="sendicon"></div>
            <div class="text"><i class="fa-solid fa-paper-plane fa-lg"></i></div>
             
        </div>

        탭 메뉴 부분 index.html-->
        <div class="tab">
            <ul class="tabnav">
                <li><a href="home.html" name="home"> <i class="fa-solid fa-house"></i></a> </li>
                <li><a href="index.html" name="chat"> <i class="fa-solid fa-comments"></i></a></li>
                <li><a href="community.html" name="community" style="background:#3b8c87; color:#ffffff; "><i class="fa-solid fa-users"></i> </a></li>
            </ul>
        </div>
</div>

<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
        <div class="text"></div>
        </div>
    </li>
</div>
</body>
</html>
